URxvt.font: xft:fira code:size=11:antialias=true
!xft:inconsolata:size=10:antialias=true
! URxvt.letterSpace: -1
URxvt*transparent: true
! urxvt*shading: 45
urxvt*shading: 35
!urxvt.foreground: #ffffff
urxvt.scrollBar: false

emacs.useXIM: false
!Xft.dpi: 184


*.foreground:   #d9d8d8

! Neutral
*.background:	#1D1F21
*.cursorColor:  #d9d8d8

! black
*.color0:       #231f20
*.color8:       #737171

! red
*.color1:       #ff4f4f
*.color9:       #ff4f4f

! green
*.color2:       #17de4c
*.color10:      #17de4c

! yellow (ULaval Yellow)
*.color3:       #ffd212
*.color11:      #ffd212

! blue
*.color4:       #10a5e1
*.color12:      #10a5e1

! magenta
*.color5:       #f84ed0
*.color13:      #f84ed0

! cyan
*.color6:       #6dd8d1
*.color14:      #6dd8d1

! white
*.color7:       #d9d8d8
*.color15:      #ffffff

