[Unit]
Description=Lock on sleep
Before=sleep.target

[Service]
User=atreides
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -i /home/atreides/.lockscreen.png
Type=forking

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
