[Unit]
Description=Lock on sleep
After=sleep.target
#Before=suspend.target

[Service]
User=keotl
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/bin/swaylock -i /home/keotl/.lockscreen.png
Type=forking
#TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
