[Unit]
Description=ACPI event daemon
Documentation=man:acpid(8)
After=multi-user.target

[Service]
ExecStart=/usr/sbin/acpid --foreground --netlink
User=root
[Install]
WantedBy=multi-user.target
