"*":
  "atom-ide-ui":
    "atom-ide-outline-view": {}
  "autocomplete-plus":
    enableAutoActivation: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    debugLSP: true
    telemetryConsent: "no"
  esformatter:
    formatOnSave: true
  "exception-reporting":
    userId: "555837f7-1b30-49f0-9758-161b005cfe27"
  "ide-python": {}
  jsformat:
    e4x: true
  nuclide:
    "nuclide-flow":
      warnOnNotInstalled: false
  "project-manager":
    alwaysOpenInSameWindow: true
  "tree-view":
    autoReveal: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
